name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm install

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/promotion-backend:latest .
    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/promotion-backend:latest

  deploy-to-railway:
    runs-on: ubuntu-latest
    needs: build
    container: ghcr.io/railwayapp/cli:latest
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Deploy to Railway
      run: |
        railway up \
          -- --project=1ef6e9f1-dd7c-4566-b75d-7f044938f43f \
          --service=d9c7ab9c-6f83-4902-94fb-f34c3012c6b4 \
          --environment=c50d03fa-6ef8-4372-8901-578d52ea1b97
